.body-absolute {
	position: absolute;
}

.scrivener-modal .scrivener-customizer-frame-preview iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url('../images/loader.gif') no-repeat center center;
}
