.body-absolute {
	position: absolute;
}
.scrivener-modal .scrivener-customizer-frame-preview iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url('../images/loader.gif') no-repeat center center;
}
.media-modal {
	z-index: 500002;
}
.media-modal-backdrop {
	z-index: 500001;
}
.scrivener-modal .scrivener-customizer-sidebar img {
	max-width: 100%;
	height: auto;
}
.scrivener-modal .scrivener-customizer-sidebar #postimagediv {
	background-color: transparent;
	background-image: none;
	border: 0;
}
.scrivener-modal .scrivener-customizer-sidebar #postimagediv .hndle,
.scrivener-modal .scrivener-customizer-sidebar #postimagediv .handlediv {
	display: none
}

.update-spinner {
	float: right;
	display: none;
	margin-top: 14px;
	margin-right: .4em;
}

#customize-title {
	position: static;
	border-left: none;
	border-right: none;
	padding: 10px 10px 11px 14px;
	background: #fff;
	height: auto;
	width: 100%;
	border-top: 1px solid #ddd;
}

#customize-header-actions {
	position: static;
}

#customize-title .post-title {
	font-size: 20px;
	font-weight: 200;
	line-height: 24px;
	display: block;
}

#customize-info {
	position: static;
	top: 115px;
	bottom: 45px;
}

.customize-control-excerpt {
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 5px;
}

textarea {
	width: 100%;
	height: 5em;
}

