.scrivener-frame-preview-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	cursor: not-allowed;
	background-color: #fff;
}
.scrivener-focused-element {
	z-index: 9001;
	cursor: text;
}
.scrivener-focused-element:hover {
	outline: rgba(240, 240, 240, 0.5) solid 5px;
}
.scrivener-focused-element:focus {
	outline: transparent solid 5px;
}